:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

#header-title {
  font-size: 4rem;
}

#description {
  text-align: center;
  font-size: 2rem;
  height: 50px;
}

.cup-image {
  width: 7rem;
  margin: 2rem;
  cursor: pointer;
  position: relative;
}

#ball {
  width: 3rem;
  position: relative;
  /*right: 300px;*/
  /*right: 185px;*/
  right: 70px;
  bottom: 25px;
  z-index: -1;
}
